.GitCard {
    box-sizing: border-box;
    width: 100%;
    height: 320px;
    background: white;
    border: 5px solid white;
    box-shadow: 12px 17px 51px rgba(255, 255, 255, 0);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    transition: all 0.5s;
    display: flex;
    align-items: stretch;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    flex-direction: row;
    gap: 0;
    padding: 0;
    font-family: inherit;
    /* Ensures it uses the global font */
    font-size: 1.1rem;
    /* Adjust as needed for consistency */
    font-weight: 400;
    /* Normal weight for body text */
}

.GitCardItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 10px;
}

.GitCardItem:last-child {
    border-right: none;
}

.count {
    font-family: inherit;
    font-size: 2rem;
    font-weight: 600;
    color: black;
    /* Optional: match accent color */
}

.label {
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: 500;
    color: #828282;
}

.GitCardItemCol {
    justify-content: space-evenly;
    align-items: start;
    width: 60%;
}

.GitCardItemCol .label {
    margin-bottom: 0;
    font-size: 1rem;
    color: black;
}

.GitCard:hover {
    transform: scale(1.05);
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.1);
}

.Development {
    display: flex;
    flex-direction: column;
}

.GitCardItem .DevImg {
    margin: auto;
    display: block;
    width: 90%;
    object-fit: contain;
}

@media only screen and (max-width: 600px) {
    .GitCardItemCol {
        justify-content: space-evenly;
        align-items: start;
        min-width: 60%;
    }

    .GitCard {
        width: 100%;
        height: 180px;
    }
}