.aboutHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    aspect-ratio: 16/9;
    justify-content: space-between;
    background-image: url('../assets/bg_about.png');
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.meEmoji {
    width: 35%;
}

.aboutMe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    margin: 50px 0 50px 0;
}

.aboutMe_Text {
    padding: 0px 0px 0px 30px;
    text-align: justify;
    line-height: 30px;
}

.aboutMeCircle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    margin: 20px 0 20px 0;
}

.aboutMeDesign {
    padding: 0px 30px 0px 0px;
    text-align: justify;
    line-height: 30px;
}

.cardDesign {
    min-width: 250px;
    min-height: 250px;
    width: 250px;
    height: 250px;
    background: white;
    padding: 0.4em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cardDesign_image {
    width: 100%;
    height: 100%;
    background-color: rgb(236, 236, 236);
    object-fit: cover;
    border-radius: 50%;
}


/* From Uiverse.io by alexmaracinaru */
.card {
    min-width: 40%;
    background: white;
    padding: .4em;
    border-radius: 24px;
    text-align: center;
}

.card_image {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 400px;
    border-radius: 24px;
}

/* .card_image:hover {
    transform: scale(0.98);
} */

.category {
    /* text-transform: uppercase; */
    font-size: 0.9em;
    /* font-weight: 600; */
    color: gray;
    padding: 10px 7px 10px 0px;
    /*t r b l*/
}

.category:hover {
    cursor: pointer;
}

.funFact {
    color: #4A9782;
    font-size: 1.5rem;
}

.typeAnimation {
    font-size: 3rem;
    display: inline-block;
}


@media only screen and (max-width: 600px) {
    .funFact {
        font-size: 0.7rem;
    }

    .typeAnimation {
        font-size: 1.4rem;
        display: inline-block;
    }


    .aboutMe {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: start;
        margin: 50px 0 50px 0;
    }


    .aboutMe_Text {
        padding: 0px 0px 0px 0px;
        text-align: justify;
        line-height: 30px;
        font-size: 1rem;
    }


    .card {
        min-width: 40%;
        padding: .4em;
        border-radius: 24px;
        text-align: center;
    }

    .card_image {
        width: 100%;
        height: 400px;
    }

    /* .card_image:hover {
    transform: scale(0.98);
} */

    .category {
        /* text-transform: uppercase; */
        font-size: 0.9em;
        /* font-weight: 600; */
        padding: 10px 7px 10px 0px;
        /*t r b l*/
    }

    .aboutMeCircle {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        text-align: start;
        margin: 20px 0 20px 0;
    }

    .aboutMeDesign {
        padding: 0px 0px 0px 0px;
        text-align: justify;
        line-height: 30px;
    }

    .cardDesign {
        min-width: 200px;
        min-height: 200px;
        width: 200px;
        height: 200px;
        background: white;
        padding: 0.4em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .cardDesign_image {
        width: 100%;
        height: 100%;
        background-color: rgb(236, 236, 236);
        object-fit: cover;
        border-radius: 50%;
    }
}