:root {
    --clr-primary: #004030;
    --clr-accent: #4A9782;
    --clr-bg: #FFF9E5;
    --clr-card: #DCD0A8;
    --clr-text: #1a1a1a;
}

body {
    background-color: var(--clr-bg);
    color: var(--clr-text);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
    font-family: inherit;
}