body {
  margin-left: 15%;
  margin-right: 15%;
  font-family: Arial, sans-serif;
  background: #d7e3eb;
  color: #1a1a1a;
}

footer {
  padding: 1rem;
  text-align: center;
  background-color: transparent;
  color: black;
}

@media only screen and (max-width: 600px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }
}